<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">

<div layout:fragment="site_content">

    <div class="container mt-2">
        <div class="row">

            <div class="col-3 mt-2">
                <ul class="nav flex-column" style="width: 100%">
                    <li class="list-group-item active" style="font-weight:bolder;color: white;background-color: rgba(21,97,69,0.93)" th:text="#{text.adminpanel}"></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/users.png'}" class="card-img-top" alt="...">   <a style="color: black" href="/usersAdmin" th:text="#{text.users}"></a></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/role.png'}" class="card-img-top" alt="...">   <a style="color: black" href="/rolesAdmin" th:text="#{text.roles}"></a></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/cart.png'}" class="card-img-top" alt="...">   <a style="color: black" href="/admin" th:text="#{text.items}"></a></li>
                    <li class="list-group-item"><img style="height: 20px;width: 20px;margin-left: 3px"  th:src="@{'/icons/brand.png'}" class="card-img-top" alt="...">   <a style="color: black" href="/brandsAdmin" th:text="#{text.brands}"></a></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px"  th:src="@{'/icons/languages.png'}" class="card-img-top" alt="...">   <a style="color: black" href="/countriesAdmin" th:text="#{text.countries}"></a></li>
                    <li class="list-group-item"><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/list.png'}" class="card-img-top" alt="...">   <a style="color: black" href="/categoriesAdmin" th:text="#{li.categories}"></a></li>
                    <li class="list-group-item" sec:authorize="hasRole('ROLE_ADMIN')"><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/list.png'}" class="card-img-top" alt="...">   <a style="color: black" th:href="@{'/soldItemsAdmin'}">soldItemAdmin</a></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px"  th:src="@{'/icons/clipboards.png'}" class="card-img-top" alt="...">   <a style="color: black" href="#" th:text="#{li.Other}"></a></li>
                </ul>
            </div>

            <div class="col-9 mt-2">
                <div class="container-fluid">

                    <nav class="navbar navbar" style="background-color: white">
                        <h3 th:text="#{li.categories}"></h3>
                        <button type="button" style="background-color: rgba(21,97,69,0.93)" class="btn btn-primary mt-1 mb-1" data-toggle="modal" data-target="#ADDCategory" th:text="#{button.addCategory}"></button>
                    </nav>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col" th:text="#{label.name}"></th>
                                <th scope="col" th:text="#{label.logoURL}"></th>
                                <th scope="col" th:text="#{label.operations}"></th>
                            </tr>
                        </thead>
                        <tbody th:each="cat : ${categories}">
                            <tr>
                                <input type="hidden" th:id="${'c_'+cat.id}" th:value="${cat.id}">
                                <input type="hidden" th:id="${'cname_'+cat.id+'_id'}" th:value="${cat.name}">
                                <input type="hidden" th:id="${'clogo_'+cat.id+'_id'}" th:value="${cat.logoURL}">
                                <th width="5%" scope="row" th:text="${cat.id}"></th>
                                <td width="35%" th:text="${cat.name}"></td>
                                <td width="40%" th:text="${cat.logoURL}"></td>
                                <td width="20%">
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" th:data-id="${cat.id}"  onclick="editCategory(this.getAttribute('data-id'))"  data-target="#Editcategory"  th:text="#{button.edit}"></button> <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" th:data-id="${cat.id}"  onclick="deleteCategory(this.getAttribute('data-id'))"  data-target="#Deletecategory"  th:text="#{button.delete}"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Editcategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1" th:text="#{button.edit}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/savecategory'}" method="post">
                        <div class="form-group">
                            <input type="hidden" id="category_id" name="id">
                            <label for="category_name" class="col-form-label" th:text="#{label.name}"></label>
                            <input type="text" class="form-control" id="category_name" name="name" >
                        </div>
                        <div class="form-group">
                            <label for="category_logo" class="col-form-label" th:text="#{label.logoURL}"></label>
                            <input type="text" class="form-control" id="category_logo" name="logoURL" >
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}"></button>
                            <button type="submit" class="btn btn-success float-right" th:text="#{button.save}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Deletecategory" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2" th:text="#{message.confirm}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <form th:action="@{'/deletecategory'}" method="post">
                        <input type="hidden" name="id" id="c_id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}"></button>
                        <button type="submit" class="btn btn-danger" th:text="#{button.delete}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ADDCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3" th:text="#{button.addCategory}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/addcategory}" method="post">
                        <div class="form-group">
                            <label class="col-form-label" th:text="#{label.name}"></label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" th:text="#{label.logoURL}"></label>
                            <input type="text" class="form-control" name="logoURL">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}"></button>
                            <button type="submit" class="btn btn-success float-right" th:text="#{button.add}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        const editCategory = (id) =>{
            document.getElementById("category_id").value = id;
            document.getElementById("category_name").value = document.getElementById("cname_"+id+"_id").value;
            document.getElementById("category_logo").value = document.getElementById("clogo_"+id+"_id").value;

        }
    </script>

    <script type="text/javascript">
        const deleteCategory = (id) =>{
            document.getElementById("c_id").value = id;
        }
    </script>


</div>



</html>