<html xmlns:th = "http://www.thymeleaf.org" xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">

<div layout:fragment="site_content">

    <div class="container mt-2">
        <div class="row">

            <div class="col-3 mt-2">

                <ul class="list-group mb-3" xmlns:th = "http://www.thymeleaf.org">
                    <li class="list-group-item active" style="font-weight:bolder;color: white;background-color: rgba(21,97,69,0.93)" th:text="#{li.categories}"></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/cart.png'}" class="card-img-top" alt="...">   <a style="color: black" href="#" th:text="#{li.AllItems}"></a></li>
                    <li class="list-group-item"><img style="height: 20px;width: 20px;margin-left: 3px"  th:src="@{'/icons/phone.png'}" class="card-img-top" alt="...">   <a style="color: black" href="#" th:text="#{li.Phones}"></a></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px"  th:src="@{'/icons/television.png'}" class="card-img-top" alt="...">   <a style="color: black" href="#" th:text="#{li.Televisions}"></a></li>
                    <li class="list-group-item"><img style="height: 20px;width: 20px;margin-left: 3px" th:src="@{'/icons/controller.png'}" class="card-img-top" alt="...">   <a style="color: black" href="#"  th:text="#{li.GameConsoles}"></a></li>
                    <li class="list-group-item" ><img style="height: 20px;width: 20px;margin-left: 3px"  th:src="@{'/icons/clipboards.png'}" class="card-img-top" alt="...">   <a style="color: black" href="#" th:text="#{li.Other}"></a></li>
                </ul>

                <ul class="list-group" xmlns:th = "http://www.thymeleaf.org">
                    <li class="list-group-item active" style="font-weight:bolder;color: white;background-color: rgba(21,97,69,0.93)" th:text="#{li.brands}"></li>
                    <li class="list-group-item" style="color: black">    Apple </li>
                    <li class="list-group-item" style="color: black">     Samsung</li>
                    <li class="list-group-item" style="color: black">     LG</li>
                    <li class="list-group-item" style="color: black">    BOSCH </li>
                    <li class="list-group-item" style="color: black">    Huawei </li>
                    <li class="list-group-item" style="color: black">    XIAOMI </li>
                    <li class="list-group-item" style="color: black">    HP</li>
                    <li class="list-group-item" style="color: black" th:text="#{li.Other}"></li>
                </ul>
            </div>

            <div class="col-9 mt-2">
                <div class="container-fluid">
                    <div class="col-6 offset-3">

<!--                        <div class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--                            New password are not same-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                                <span aria-hidden="true"></span>-->
<!--                            </button>-->
<!--                        </div>-->

                        <img th:src="@{'/viewphoto/'+${currentUser.pictureURL}}" class="my-3" style="width: 300px; height: 300px; margin-left: 25px; border-radius: 50%">
                        <form th:action="@{'/uploadavatar'}" method="post" enctype="multipart/form-data">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="user_ava">
                                <label class="custom-file-label" for="customFile" th:text="#{button.chooseFile}"></label>
                            </div>
                            <div class="form-group my-3">
                                <button class="btn btn-success float-right" style="background-color: rgba(21,97,69,0.93)" th:text="#{button.uploadFile}"></button>
                            </div>
                        </form>

                        <form th:action="@{'/updateprofile'}" method="post">
                            <div class="form-group" style="margin-top: 80px">
                                <input type="hidden" name="user_id" th:value="${currentUser.id}">
                                <label th:text="#{label.email}"></label>
                                <input type="email" class="form-control" th:value="${currentUser.email}" name="email" readonly>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.full_name}"></label>
                                <input type="text" class="form-control" th:value="${currentUser.full_name}" name="full_name">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success float-right" style="background-color: rgba(21,97,69,0.93)" th:text="#{button.updateprofile}"></button>
                            </div>
                        </form>


                        <h3 style="margin-top: 80px" th:text="${error}"></h3>

                        <form th:action="@{'/updatepassword'}" method="post">
                            <div class="form-group">
                                <input type="hidden" name="user_id" th:value="${currentUser.id}">
                                <label th:text="#{label.old_password}"></label>
                                <input type="password" required class="form-control" name="old_password">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.new_password}"></label>
                                <input type="password" required class="form-control" name="new_password">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.re_new_password}"></label>
                                <input type="password" required class="form-control" name="re_new_password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success float-right" style="background-color: rgba(21,97,69,0.93)" th:text="#{button.updatepass}"></button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>



</html>